<?xml version='1.0' encoding='utf-8'?>
    <widget id="com.manuweb.testwinsocket" version="1.1.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">


    <name>Test WinSocket</name>
    <description>
        Test de wondoskets
    </description>
    <author email="info@elmaestroweb.es" href="https://www.elmaestroweb.es">
        Manuel Sanchez
    </author>
     <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />

    <preference name="phonegap-version" value="cli-9.0.0" />
    
    <plugin name="cordova-plugin-device" source="npm"/> 
    
    <plugin name="cordova-plugin-statusbar" source="npm"/> 
    
    <plugin name="cordova-plugin-splashscreen" source="npm" /> 

    
    <plugin name="cordova-plugin-inappbrowser" source="npm"/> 
    
    <plugin name="cordova-plugin-whitelist" source="npm"/>
    
    <plugin name="cordova-plugin-geolocation" source="npm"/>  
    
    <plugin spec="https://github.com/manuweb/cordova-plugin-background-mode.git" source="git" />

  
    <plugin name="cordova-plugin-screen-orientation" source="npm"/>  
  
 


    <platform name="ios">
        <icon src="www/res/icon/ios/icon-1024.png" platform="ios" width="1024" height="1024" />
        <icon height="57" platform="ios" src="www/res/icon/ios/icon.png" width="57" />
        <icon height="114" platform="ios" src="www/res/icon/ios/icon@2x.png" width="114" />
        <icon height="40" platform="ios" src="www/res/icon/ios/icon-40.png" width="40" />
        <icon height="80" platform="ios" src="www/res/icon/ios/icon-40@2x.png" width="80" />
        <icon height="50" platform="ios" src="www/res/icon/ios/icon-50.png" width="50" />
        <icon height="100" platform="ios" src="www/res/icon/ios/icon-50@2x.png" width="100" />
        <icon height="60" platform="ios" src="www/res/icon/ios/icon-60.png" width="60" />
        <icon height="120" platform="ios" src="www/res/icon/ios/icon-60@2x.png" width="120" />
        <icon height="180" platform="ios" src="www/res/icon/ios/icon-60@3x.png" width="180" />
        <icon height="72" platform="ios" src="www/res/icon/ios/icon-72.png" width="72" />
        <icon height="144" platform="ios" src="www/res/icon/ios/icon-72@2x.png" width="144" />
        <icon height="76" platform="ios" src="www/res/icon/ios/icon-76.png" width="76" />
        <icon height="152" platform="ios" src="www/res/icon/ios/icon-76@2x.png" width="152" />
        <icon height="29" platform="ios" src="www/res/icon/ios/icon-small.png" width="29" />
        <icon height="58" platform="ios" src="www/res/icon/ios/icon-small@2x.png" width="58" />
        <icon height="87" platform="ios" src="www/res/icon/ios/icon-small@3x.png" width="87" />
        <icon height="167" platform="ios" src="www/res/icon/ios/icon-83.5@2x.png" width="167" />        
       
        <splash src="www/res/screen/ios/Default@2x~universal~anyany.png" />
        <splash src="www/res/screen/ios/Default-2436h.png" />
        <splash src="www/res/screen/ios/Default-Landscape-2436h.png" />
        <custom-config-file parent="UIBackgroundModes" platform="ios" target="*-Info.plist">
            <array>
                <string>fetch</string> 
                <string>location</string>
            </array>
        </custom-config-file>        
        

    </platform>
 
    <preference name="SplashScreenDelay" value="3500" /> 
    <preference name="FadeSplashScreenDuration" value="1500"/>
    <preference name="ShowSplashScreenSpinner" value="false"/>
    
    <preference name="StatusBarBackgroundColor" value="#FFFFFF" />    
    <preference name="StatusBarStyle" value="default" />





    
<edit-config target="NSLocationAlwaysAndWhenInUseUsageDescription" file="*-Info.plist" mode="merge">
    <string>Necesario para marcar tu posición siempre</string>
</edit-config>  

<edit-config target="NSLocationAlwaysUsageDescription" file="*-Info.plist" mode="merge">
    <string>Necesario para marcar tu posición cuando la app está en segundo plano</string>
</edit-config>   

<edit-config target="NSLocationWhenInUseUsageDescription" file="*-Info.plist" mode="merge">
    <string>Necesario para marcar tu posición</string>
</edit-config>

<edit-config target="UIBackgroundModes" file="*-Info.plist" mode="merge"> 
    <array> 
        <string>fetch</string> 
        <string>location</string> 
    </array> 
</edit-config>     


 <gap:config-file platform="ios" parent="CFBundleLocalizations" mode="replace"> 
    <array>
      <string>es</string>
    </array>
</gap:config-file> 
    
    <access origin="https://*.websocket.in" subdomains="true" />
    <allow-navigation href="https://www.websocket.in" />   
    <access origin="https://www.elmaestroweb.es" subdomains="true" />
    <allow-navigation href="https://www.elmaestroweb.es" />
    <allow-navigation href="https://www.google.com" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="data:*" />
    <allow-navigation href="*" />


 
 


    <access origin="http://phonegap.com" subdomains="true" />
    <access origin="*" />
    <access origin="http://*.google.com" />
    <access origin="http://maps.google.com" />
    <access origin="https://maps.googleapis.com" />
    <access origin="https://google.com" />
    <access origin="http://google.com" />
    <access origin="*.google.com" />
    <access origin="*.googleapis.com" />
    <access origin="*.gstatic.com" />
    <access origin="*.websocket.in" />
 
</widget>
